@tailwind base;
@tailwind components;
@tailwind utilities;

@import './repository.css';
@import './connectivity.css';
@import './about.css';

.out-input {
  outline: none;
  box-shadow: none;
  border: none;
}

.out-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-image: url('../../public/delete-search.svg');
  background-position: center;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

/* input:-webkit-autofill {
  -webkit-text-fill-color: #e7e5e4;
} */